{% extends 'base.html.twig' %}

{% block title %}Hello FicheDeFraisController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    <ul>
        {% for UneFicheFrais in FicheFrais %}
            <li>{{ UneFicheFrais.dateModification }} - {{ UneFicheFrais.mois }} - {{ UneFicheFrais.nbjustificatif }} - {{ UneFicheFrais.id }}
                - {{ UneFicheFrais.user.login }} - {{ UneFicheFrais.montant }} - {{ UneFicheFrais.etat }}</li>
        {% endfor %}
    </ul>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Symfony/GSB_Frais/src/Controller/FicheDeFraisController.php'|file_link(0) }}">src/Controller/FicheDeFraisController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Symfony/GSB_Frais/templates/fiche_de_frais/index.html.twig'|file_link(0) }}">templates/fiche_de_frais/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
