{% extends 'base.html.twig' %}

{% block title %}Mes Fiches Frais{% endblock %}

{% block body %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Accueil</a>
                <a class="navbar-brand" href="#">Mes Fiches Frais</a>
            </div>
        </div>
    </nav>
        {{ form(myForm) }}
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
    {% if selectFicheFrais != null %}
    <table style="width:100%">
        <tr>
            <td>ID </td>
            <td>Nombre Justificatif </td>
            <td>Montant </td>
            <td>Date Modification </td>
            <td>Mois </td>
            <td>User </td>
            <td>Etat </td>
        </tr>
        <tr>
            <td>{{ selectFicheFrais.id }}</td>
            <td>{{ selectFicheFrais.nbjustificatif }}</td>
            <td>{{ selectFicheFrais.montant }}</td>
            <td>{{ selectFicheFrais.dateModification | date('d/m/Y')}}</td>
            <td>{{ selectFicheFrais.mois }}</td>
            <td>{{ selectFicheFrais.user.nom }}</td>
            <td>{{ selectFicheFrais.etat.libelle }}</td>
        </tr>
    </table>
    <table>
        {% for lff in selectFicheFrais.lignefraisforfait %}
        <tr>
            <td>{{ lff.fraisForfait.libelle }}</td>
            <td>{{ lff.quantite }}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        {% for lfhf in selectFicheFrais.ligneFraisHorsForfait %}
            <tr>
                <td>{{ lfhf.date | date('d/m/Y') }}</td>
                <td>{{ lfhf.libelle }}</td>
                <td>{{ lfhf.montant }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
